.list-title {
  display: flex;
  justify-content: center;
  font-size: 28px;
}
.table-button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  text-decoration: none;
  width: 150px;
}
.table-button button {
  padding: 10px;
  text-decoration: none;
  border: 2px solid rgb(196, 196, 196);
  box-shadow: 5px 5px 5px #0000;
  border-radius: 15px;
}
.table-button button:hover {
  cursor: pointer;
  color: rgb(88, 0, 74);
}

.td-link a {
  text-decoration: underline;
  color: black;
}
.td-link a:hover {
  cursor: pointer;
  color: rgb(0, 133, 0);
}

table,
td,
th {
  border: 1px solid #dfd9d9;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
 
}

th,
td {
  padding: 15px;
}

.tr-data {
  width: 100%;
}
